
@import "seattletimes";

.container {
  margin-left: 5%; //DELETE LATER
  max-width: 960px;
  font-family: @df-sans;

}

.table {
  padding-top: 100px;
  @media @mobile {
    padding: 0;
  }

  &-column {
    .display-flex;
    @media @mobile {
      display: block;
    }

    &.dates {
      font-size: 13px;

      @media @tablet {
        font-size: 10px;
      }
      @media @mobile {
        display: none;
      }
    }

  }


  .row-item {

    .flex(1);
    text-align: center;
    border: .5px solid rgba(255, 255, 255, 0.44);
    
    &.highlight {
      background-color: lightblue;
    }

    &.athlete-name {
      cursor: pointer;
      
      font-size: 14px;
      background-color: @df-footer-gray;
      .flex(0 0 150px);

      @media @mobile {
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
      }
      
      .fa {
  .flex(0 0 40px);
  cursor: pointer;
  font-size: 14px;


}
    }

    &.event{
      background-color: @st-light-purple;
      font-size: 8px;
      text-align: center;
      &.highlight {
        background-color: rgb(180, 140, 220);
        cursor: default;
        
        @media @mobile {
        background-color: @st-light-purple;
        }
        
      }

      @media @mobile {
        margin-left: 2%;
        display: block;
      }  
    }  

    &.noevent {
      &.highlight {
        background-color: lightblue;
      }
      background-color: whitesmoke;
      @media @mobile {
        display: none;
      }  
    }

    @media @mobile {
      display: block;
      width: 100%;
    }

  }
}

@import "athlete-box";
@import "tooltip";
