@import "seattletimes";
.container {
  padding: 3%;
  position: relative;
}

.table {

  font-family: @df-sans;

  @media @mobile {
    width: 100%;
    height: 100%;
    display: block;
  }

  &-column {
    .display-flex;

    &.dates {
      font-size: 11px;
      @media @mobile {
        display: none;
      }
    }
    
    @media @mobile {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.row-item {
  .flex(1 1 6%);
  padding: 5px;
  border: .5px solid rgba(255, 255, 255, 0.44);
  &.athlete-name {
    font-size: 10px;
    background-color: @df-footer-gray;
    .flex(0 0 100px);

    @media @mobile {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &.event{

    background-color: @st-light-purple;
    font-size: 8px;
    text-align: center;
    
    .icon {
      font-style: normal;
    }
    
    @media @mobile {
      margin-left: 2%;
    }  
  }  

  &.noevent {

    background-color: @df-navy;
    @media @mobile {
      display: none;
    }  
  }

  @media @mobile {
    display: block;
    width: 100%;
    height: 100%;
  }

}


