.tooltip {
  position: relative;
  text-align: center;
  .icon {
    position: relative;
    img {
      max-width: 100%;
    }

    @media @mobile {
      display: none;
      width: 20%;
      max-width: 100%;
    }

    &.grow:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .tooltiptext {
    visibility: hidden;
    text-align: left;
    display: inline-block;
    width: 200px;
    background-color: @df-light-gray;
    color: black;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    padding-left: 10px;
    margin-left: -100px;
    opacity: 0;
    transition: opacity .5s;
    
    @media @mobile {
      visibility: visible;
      opacity: 1;
      position: relative;
      bottom: 0;
      margin-left: auto;
      background-color: inherit;
      border-radius: 0px;
      left: 0;
      bottom: 0%;
      text-align: left;
      display: inline-block;
    }
    .fa {
      padding-right: 8px;

    }
    .title {
      font-size: 18px;
      padding: 5px 0;
    }

    .nbc {
      margin-left: 30px;
      font-size: 11px;
    }


    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color:  @df-light-gray transparent transparent transparent;
      @media @mobile {
        display: none;
      }
    }

  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

}