.tooltip {
  position: relative;
  margin: 0 auto;
  @media @mobile {
    text-align: left;
    width: 100%;

  }


  .icon {
    position: relative;
    ;
    &.grow:hover
    {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    @media @mobile {
      display: none;
    }

  }
  .tooltiptext {
    visibility: hidden;
    display: inline-block;
    width: 250px;
    background-color: @df-off-white;
    color: black;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    padding-left: 10px;
    margin-left: -100px;
    opacity: 0;
    transition: opacity .5s;

    .fa {
      padding-right: 8px;

    }
    .title {

      font-size: 18px;
      text-align: center;
      padding: 5px 0;
    }
    .info {
      .sport {
        text-align: center; 
      }
      text-align: left;
    }

    @media @mobile {
      visibility: visible;
      opacity: 1;
      position: relative;
      bottom: 0;
      background-color: inherit;
      border-radius: 0px;
      left: 0;
      bottom: 0%;
      margin: 5px;
      text-align: left;
      display: inline-block;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color:  @df-off-white transparent transparent transparent;
      @media @mobile {
        display: none;
      }
    }

  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

}