        <% for (var j = 0; j < 10; j++) {
            var person = people[j];
            console.log(person.firstname); %>
        
        <!--        Athlete Row-->
        <div class="table-column athleterows">

          <div class="athlete-name row-item" data-id="<%= person.athleteid%>">
            <p class="name">
              <%=person.firstname%> <%=person.lastname%> <i class="fa fa-plus"></i>
            </p>
          </div>
          
          <div class="athlete-box mobile" data-id="<%= person.athleteid%>"></div>
          
        <!--Event rows-->
          <% for (var i = 3; i < 22; i++) {
            
            var dateString = "8/" + i + "/16"; 
            var hasEvent = !!person.days[dateString]; 
            var eventDay = "event " + dateString;
            %>
          <div class="row-item <%= hasEvent ? eventDay : "noevent" %>" data-id="<%= dateString%> ">
            <% if (hasEvent) {  
              
              person.days[dateString].forEach( function(day) { %>

                <div class="tooltip">
                  <i class="icon">
                    <img src="assets/Icons/<%=person.icon_name%>.png">
                  </i>


                  <span class="tooltiptext">    

                    <%=person.sport%><br>
                    <%=day.event.title%><br>
                    Local Time: <%=day.event.localtime%><br>
                    Rio Time: <%=day.event.riotime%><br>
                  </span>
                </div>
            
              <% });

            } %>

          </div>
        <% }; %> 
        </div> 
        <div class="athlete-box" data-id="<%= person.athleteid%>"></div>
<% } %>
