

<% for (var i = 3; i < 21; i++) {
  var dateString = "8/" + i + "/16"; 
  var hasEvent = !!person.days[dateString]; 
  var eventDay = "event " + dateString;
  %>
<div class="row-item <%= hasEvent ? eventDay : "noevent" %>">

  <% if (hasEvent) {  
    person.days[dateString].forEach( function(day) { %>

  <div class="tooltip"><i class="icon">x</i>
    <span class="tooltiptext">    <%=day.event.category%><br>
      <%=day.event.title%><br>
      Local Time: <%=day.event.localtime%><br> 
      Rio Time: <%=day.event.riotime%><br>
    </span>
  </div>
  <% });

  } else { } %>

</div>
<% }; %> 