<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <% 
    var people = json.OlympiansTracker_people;
    var events = {};  

    var participation = json.OlympiansTracker_participation;
    json.OlympiansTracker_events.forEach(function(item) {
      events[item.eventid] = item;
    });      

    people.forEach(function(person) {

      //This object holds each athlete with all of their events.
      person.days = {};

      participation.forEach(function(item) {
        if (item.athleteid == person.athleteid) {

          var event = events[item.eventid];
          if (!person.days[event.date]) {
            person.days[event.date] = [];
          }

          person.days[event.date].push({
            event: event,
            medal: event.medal,
            medalType: item.medal,
            results: item.results,
            url: item.url,
            date: event.date

          });
        }
      });
    }); %>

    <div class="container">


      <div class="legend">
        <h2>Local Olympians</h2>
        <ul>
          <li><div class="splotch medaling"><img src="assets/icons/Tennis.png" class="upcoming"></div> Medaling event</li>
          <li><img src="assets/icons/Athletics.png" class="upcoming">Scheduled event</li>
        </ul>
        <ul>
          <li><img src="assets/medals/gold_medal.png">Medalist</li>
        </ul>

      </div>

      <div class="table">

        <!--Headers-->
        <div class="table-column headers">
          <div class="row-item header">Name</div>
          <div class="row-item" data-id="8/3">8/3</div>
          <div class="row-item" data-id="8/6">8/6</div>
          <div class="row-item" data-id="8/7">8/7</div>
          <div class="row-item" data-id="8/8">8/8</div>
          <div class="row-item" data-id="8/9">8/9</div>
          <div class="row-item" data-id="8/10">8/10</div>
          <div class="row-item" data-id="8/11">8/11</div>
          <div class="row-item" data-id="8/12">8/12</div>
          <div class="row-item" data-id="8/13">8/13</div>
          <div class="row-item" data-id="8/14">8/14</div>
          <div class="row-item" sdata-id="8/15">8/15</div>
          <div class="row-item" data-id="8/16">8/16</div>
          <div class="row-item" data-id="8/17">8/17</div>    
          <div class="row-item" data-id="8/18">8/18</div>
          <div class="row-item" data-id="8/19">8/19</div>
          <div class="row-item" data-id="8/20">8/20</div>
          <div class="row-item" data-id="8/21">8/21</div>

        </div>

        <% for (var j = 0; j < people.length; j++) {
          var athlete = people[j];
          var firstTen = !!(j < 10); %>

        <div class="table-column  <%= firstTen ? "athleterows" : "athleterows off" %>">

          <div class="athlete-name row-item" data-id="<%= athlete.athleteid%>">

            <img src="assets/faces/<%=athlete.athleteid%>_athleteid_resized.jpg"/>

            <aside class="stats">              
              <div class="name"><%=athlete.firstname%> <%=athlete.lastname%>, <%=athlete.age%></div>

              <%=athlete.sport%><br>
               <i class="fa fa-plus"></i>
            </aside>

          </div>

          <div class="athlete-box mobile" data-id="<%= athlete.athleteid%>"></div>

          <!--Event rows-->
          <% var hasMedal; var hasResult; var wonMedal; 
          for (var i = 3; i < 22; i++) {

            if ( i == 4 || i == 5) {
              continue;
            }

            var dateString = "8/" + i; 
            var hasEvent = !!athlete.days[dateString]; 
            var athletes = athlete.days[dateString]; 

            if (hasEvent) {
              athletes.forEach(function(t) {
                hasMedal = !!t.medal;  
              }); 
            }%>

          <div class="row-item <%= hasEvent ? "event" : "noevent" %> <%= hasMedal ? "medal" : "" %>">

            <%  if (hasEvent) { %>

            <% athletes.forEach( function(day) { 

              wonMedal = !!day.medalType;
              hasResult = !!day.results;%>

            <div class="tooltip">

              <img src="assets/<%= wonMedal ? "medals/" + day.medalType + "_medal.png": "icons/" + athlete.icon_name + ".png" %>" class="icon grow">

                
              <aside class="tooltiptext">    
                <div class="title"><%=day.event.title%></div>
                <% if (hasResult) { %>
                  
                Results: <%=day.results%>
                
                <% if (!!day.url) { %>
                <a href="<%=day.url%>">Read more</a>
                <% } } else { %>
                
                 <i class="fa fa-clock-o" aria-hidden="true"></i> <b><%=day.event.localtime%> PST</b>, <%=day.event.riotime%> BRT<br>
                <i class="fa fa-desktop" aria-hidden="true"></i><%=day.event.watch%>
                 <% } %>
                
              </aside>
            </div>
            <%});%>



            <% } %>

          </div>
          <% }; %> 
        </div> 
          <div class="athlete-box" data-id="<%= athlete.athleteid%>"></div>
        <% } %>



      </div>
      <p class="expand">Expand</p>
    </div>


    <script> 
      window.olympians = <%= JSON.stringify(people) %>  
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
