<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>


    <% 
    var people = json.OlympiansTracker_people;

    var events = {};      
    json.OlympiansTracker_events.forEach(function(item) {
      events[item.eventid] = item;
    });      

    people.forEach(function(person) {
      //This object holds each athlete with all of their events.
      person.days = {};

      json.OlympiansTracker_participation.forEach(function(item) {
        if (item.athleteid == person.athleteid) {
          var event = events[item.eventid];

          if (!person.days[event.date]) {
            person.days[event.date] = [];
          }
          person.days[event.date].push({
            participation: item,
            event: event,
            person: person.firstname
          });
        }
      });
    });

    %>
    <div class="container">

      <div class="table">

        <!--Headers-->
        <div class="table-header">
          <div class="row-item">Name</div>
          <div class="row-item">8/3</div>
          <div class="row-item">8/4</div>
          <div class="row-item">8/5</div>
          <div class="row-item">8/6</div>
          <div class="row-item">8/7</div>
          <div class="row-item">8/8</div>
          <div class="row-item">8/9</div>
          <div class="row-item">8/10</div>
          <div class="row-item">8/11</div>
          <div class="row-item">8/12</div>
          <div class="row-item">8/13</div>
          <div class="row-item">8/14</div>
          <div class="row-item">8/15</div>
          <div class="row-item">8/16</div>
          <div class="row-item">8/17</div>    
          <div class="row-item">8/18</div>
          <div class="row-item">8/19</div>
          <div class="row-item">8/20</div>
          <div class="row-item">8/21</div>
          <div class="row-item">8/22</div>
          <div class="row-item">8/23</div>
          <div class="row-item">8/24</div>
        </div>

        <% people.forEach(function(person) { %>

        <div class="table-athlete-row">
          <div class="athlete-name row-item" data-id="<%= person.athleteid%>">
            <%=person.firstname%> <%=person.lastname%>
          </div>

          <% for (var i = 3; i < 25; i++) {
            var dateString = "8/" + i + "/16"; 
            var hasEvent = !!person.days[dateString]; 
            var eventDay = "event " + dateString;
            %>
          <div class="row-item <%= hasEvent ? eventDay : "noevent" %>">

            <% if (hasEvent) {  

              person.days[dateString].forEach( function(day) { %>
            x                                  
            <% });

            } else { } %>

          </div> <!--div (per athlete): event/no-event-->

          <% }; %> 
        </div> <!--div: athlete row-->

        <% }); %>

  
    </div>

    <script> 
      window.olympians = <%= JSON.stringify(people) %>  

    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
